# GitHub Actions Runner Configuration
GITHUB_OWNER=scantoria
GITHUB_REPOSITORY=thisbyte-website
RUNNER_NAME=thisbyte-hp-runner
RUNNER_LABELS=self-hosted,linux,x64,thisbyte
RUNNER_WORKDIR=_work
RUNNER_TOKEN=
